<%= form_with url: search2_friendships_path, method: :get do |f| %>
   <%= f.text_field :search, value: params[:search]  %>
   <%= f.submit "Search" %>
<%end%>
<% @user.each do |u| %>
<%= turbo_frame_tag "friends_#{u.id}" do%>
<% if checkf(u.id) %>
    <% if u.avatar.attached? %>
        <img src="<%=url_for(u.avatar)%>" class="avatar" />
        <h1></h1>
    <%end%>
    <%= link_to  (
    u.username||u.email
    ), account_path(u.id) , method: :get, data: { turbo_frame: "_top" } %>
    <h1></h1>
    <%= turbo_frame_tag "friendbutton_#{u.id}" do%>
        <% if check(u.id) %>
            <%= button_to "Pending" %>
        <% elsif pendingrequest(u.id) %>
            <% idi=getid(u.id)  %>
            <%= button_to "accept",friendship_path(idi,sender_id: u.id,status: Friendship.friendship_statuses[:accepted]),method: :patch %>
            <%= button_to "reject",friendship_path(idi,sender_id: u.id,status: Friendship.friendship_statuses[:rejected]),method: :patch %>
        <%else%>
             <%= turbo_frame_tag "fbutton_#{u.id}" do%>
                 <%= button_to "Add Friend",friendships_path(fid:u.id),method: :post %>
            <%end%>
        <%end%>
    <%end%>
<h1></h1>
<%end%>
<%end%>
<%end%>