<%= form_with url: search2_friendships_path, method: :get do |f| %>
   <%= f.text_field :search, value: params[:search]  %>
   <%= f.submit "Search" %>
<%end%>
<%  @add_friends_list.each do |user| %>
<%= turbo_frame_tag "friends_#{user.id}" do%>
<% if checkf(user.id) %>
    <% if user.avatar.attached? %>
        <img src="<%=url_for(user.avatar)%>" class="avatar" />
        <h1></h1>
    <%end%>
    <%= link_to  (
    user.username||user.email
    ), account_path(user.id) , method: :get, data: { turbo_frame: "_top" } %>
    <h1></h1>
    <%= render :partial => 'friendships/friendship_action', :locals => {:user => user} %>
<h1></h1>
<%end%>
<%end%>
<%end%>