<h1>posts page</h1>
<%= button_to "Add a post", new_post_path, method: :get %>
<% @posts.each do |p| %>
<p><%= @user.find(p.user_id).username %></p>
<p>Title:<%= p.title %></p>
<p>description:<%= p.description %></p>
<% if p.user_id==current_user.id %>
    <%= button_to "edit",edit_post_path(p.id),method: :get %>
    <%= button_to "delete",post_path(p.id),method: :delete %>
<%end%>
<%end%>