<%= button_to "Add Friends",new_friend_path,method: :get %>
<%= button_to "Pending Requests(#{@pending_list_count})",friendrequests_path,method: :get %>
<%= form_with url: search_path(index: 1), method: :get do |f| %>
   
   <%= f.text_field :search, value: params[:search]  %>
   <%= f.submit "Search" %>
<% end %>

<% @users.each do |u| %>

<% if u.avatar.attached? %>
<img src="<%=url_for(u.avatar)%>" class="avatar" />
<h1></h1>
<%end%>
    <%= link_to  (
    u.username||u.email
    ), account_path(u.id) , method: :get %>
<p>Friend Since <%= time_ago_in_words( u.friends.first.updated_at) %> </p>
<h1></h1>
<%end%>