<%= form_with url: searchfriend_path, method: :get do |f| %>
   <%= f.text_field :search, value: params[:search]  %>
   <%= f.submit "Search" %>
<%end%>
<% @user.each do |u| %>
<% if checkf(u.id) %>
<% if u.avatar.attached? %>
<img src="<%=url_for(u.avatar)%>" class="avatar" />
<h1></h1>
<%end%>
    <%= link_to  (
    u.username||u.email
    ), account_path(u.id) , method: :get %>
<h1></h1>
<% if check(u.id) %>
    <%= button_to "Pending" %>
<% elsif pendingrequest(u.id) %>
        <% idi=getid(u.id)  %>
        <%= button_to "accept",friendrequest_path(idi),method: :patch %>
        <%= button_to "reject",friendrequest_path(idi),method: :delete %>
<%else%>
    <%= button_to "Add Friend",friend_index_path(fid:u.id),method: :post %>
<%end%>
<h1></h1>
<%end%>
<%end%>
