<%= turbo_frame_tag "post_#{post.id}" do %>
  <div id="<%= dom_id(post) %>" class="post <%= 'highlight' if local_assigns[:highlight] %>">
    <%= link_to  post.user.name, account_path(post.user), method: :get, data: { turbo_frame: "_top" } %>
    <%= image_tag url_for(post.user.avatar), class: "avatar" if post.user.avatar.attached? %>
    <% if local_assigns[:trending_score] %>
      <p>Trending Score: <%= trending_score %></p>
    <% end %>
    <div class="post-actions">
      <% if post.user_id == current_user.id %>    
          <%= button_to "âœï¸", edit_post_path(post), method: :get %>
          <%= button_to "ðŸ—‘ï¸", post_path(post), method: :delete %>
      <% end %>
     </div>
    <p style="display: inline; margin-right: 550px">Title:<%= post.title %></p>
    <p style="display: inline"> <%= time_ago_in_words(post.created_at) %> </p>
    <p>description:<%= post.description %></p>
    <%= render partial: "likes/like", locals: {post: post} %>
  </div>
<% end %>
