<%= form_with url: posts_path, method: :get, local: true do |form| %>
  <%= form.label :filter, "Show posts from:" %>
  <%= form.select :filter, options_for_select([["Friends", "friends"], ["Friends of Friends", "friends_of_friends"]], params[:filter]), {}, { onchange: "this.form.submit();" } %>
<% end %>
<div x-data="{ open: false }" x-init="window.addEventListener('post-created', () => { open = false })">
  <button type="button" @click="open = true" class="btn">Add a post</button>
  <div  x-show="open" >
    <%= render partial: "form", locals: { post: Post.new, form_path: posts_path, form_method: :post} %>
  </div> 
  <button x-show = "open" @click="open = false" >close</button>   
</div> 
<div id="posts-list">
  <%= render @posts %>
</div>

<% if @pagy.next.present? %>
  <%= turbo_frame_tag "next_page", src: posts_path(page: @pagy.next, format: :turbo_stream), loading: :lazy do %>
    <div style="text-align: center; padding: 1em; font-weight: bold; color: black;">Loading more posts...</div>
  <% end %>
<% end %>

