<%= turbo_frame_tag "account_#{current_user.id}" do %>
  <h1>name:<%= @user.name %> </h1>
  <h1>mail:<%= @user.email %> </h1>
  <p>Bio:<%= @user.bio %></p>
  <%= image_tag url_for(@user.avatar), class: "avatar" if @user.avatar.attached? %>
  <% if current_user.id ==  @user.id %>
    <%= button_to "edit", edit_account_path(current_user.id), method: :get %>
    
  <% else %>
    <%= turbo_frame_tag "accountpage_#{@user.id}" do%>
      <%= render partial: "friendships/friendship_action", locals: { user: @user } %>
    <% end %>
  <% end %>
<% end %>
<p>Post count: <%= @posts.count %> </p>
<p>Friends count: <%= @friends_count %> </p>
<% if @user.canishow(current_user) %>
  <h1>Your's Post's</h1>
  <% @posts.each do |post| %>
    <p>Title:<%= post.title %></p>
    <p>description:<%= post.description %></p>
    <p>Likes count: <%= post.likes_count %> </p>
  <% end %>
<% end %>