<h1>name:<%=@user.username%> </h1>
<h1>mail:<%=@user.email%> </h1>
<p>Bio:<%=@user.bio%></p>
<% if @user.avatar.attached? %>
<img src="<%=url_for(@user.avatar)%>" class="avatar" />
<%end%>
<% if current_user = @user %>
<%= button_to "edit" ,edit_account_path(current_user.id),method: :get %>
<%end%>
<p>Post count: <%= @posts.count %> </p>
<h1>Your's Post's</h1>
<% @posts.each do |p| %>
    <p>Title:<%= p.title %></p>
    <p>description:<%= p.description %></p>
    <p>Likes: <%= p.like.count %> </p>
<%end%>