<%= turbo_stream.replace "account_#{@user.id}" do %>
    <h1>name:<%=@user.username%> </h1>
    <h1>mail:<%=@user.email%> </h1>
    <p>Bio:<%=@user.bio%></p>
    <% if @user.avatar.attached? %>
        <img src="<%=url_for(@user.avatar)%>" class="avatar" />
    <%end%>
    <%= button_to "edit" ,edit_account_path(current_user.id),method: :get %>
    <%=form_with model: @user ,url:privacyupdate_path,method: :patch do |f| %>
        <%= f.select :privacy_status, User.privacy_statuses, selected: @user.privacy_status %>
        <%= f.submit %>
    <%end%>
<%end%>
<%= render_turbo_stream_flash_message %>