<nav>
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <%if current_user %>
        <li><%= link_to "Posts", posts_path %></li>
        <div x-data = "{ open: false }">
          <%= image_tag url_for(current_user.avatar), class: "avatar", "@click": "open = !open" if current_user.avatar.attached? %>
          <div x-show="open" @click.outside="open = false">
            <%= link_to "Account", account_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "My Posts",my_posts_posts_path %>
            <%= link_to "Friends", friendships_path, class: "dropdown-item" %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete %>
          </div>
        </div>
      <%else %>
      
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
</nav>
