<nav>
  <div class="nav-container">
    <ul class="nav-left">
      <li><%= link_to "Home", "/" %></li>
      <% if current_user %>
        <li><%= link_to "Posts", posts_path %></li>
      <% end %>
    </ul>

    <ul class="nav-right" x-data="{ open: false }">
      <% if current_user && current_user.avatar.attached? %>
        <li class="dropdown-wrapper" x-data="{ open: false }">
        <%= image_tag url_for(current_user.avatar), class: "avatar", "@click": "open = !open" %>
        <div class="dropdown" x-show="open" @click.outside="open = false">
          <%= link_to "Account", account_path(current_user.id), class: "dropdown-item" %>
          <%= link_to "My Posts", my_posts_posts_path, class: "dropdown-item" %>
          <%= link_to "Friends", friendships_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item" %>
        </div>
        </li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
